# Problem set 4: Analyzing data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pydst
dst = pydst.Dst(lang='en')

# Tasks

## Import national account data from Denmark Statistics

Consider the following dictionary definitions:

In [2]:
columns_dict = {}
columns_dict['TRANSAKT'] = 'variable'
columns_dict['PRISENHED'] = 'unit'
columns_dict['TID'] = 'year'
columns_dict['INDHOLD'] = 'value'

var_dict = {} # var is for variable
var_dict['P.1 Output'] = 'Y'
var_dict['P.3 Final consumption expenditure'] = 'C'
var_dict['P.3 Government consumption expenditure'] = 'G'
var_dict['P.5 Gross capital formation'] = 'I'
var_dict['P.6 Export of goods and services'] = 'X'
var_dict['P.7 Import of goods and services'] = 'M'

unit_dict = {}
unit_dict['2010-prices, chained values'] = 'real'
unit_dict['Current prices'] = 'nominal'

**Step 1:** Download all of table `nah1`.

In [3]:
# hint, nah1 = dst.get_data(table_id = '?', variables={'TRANSAKT':[?], 'PRISENHED':[?], 'TID':[?]})

**Step 2:** Rename the columns using `columns_dict` and replace data using `var_dict` and `unit_dict`.

In [4]:
# hint, nah1_true.rename(?,inplace=True)

# for key,value in var_dict.items():
#   nah1.variable.replace(?)

#for key,value in unit_dict.items():
#   nah1.unit.replace(?)

**Step 3:** Only keep rows where the variable is in `[Y, C, G, I, X, M]`. Afterwards convert the `value` column to a float.

In [5]:
# write you code here
# nah1.value = nah1.value.astype('float')

**Step 4:** Discuss what the following summary statistics show.

In [6]:
# nah1_true.groupby(['variable','unit']).describe()

**Answer:**

In [7]:
# a. load
nah1_true = dst.get_data(table_id = 'NAH1', variables={'TRANSAKT':['*'], 'PRISENHED':['*'], 'TID':['*']})

# b. rename and replace
nah1_true.rename(columns=columns_dict,inplace=True)

# c. replace data
for key,value in var_dict.items():
   nah1_true.variable.replace(key,value,inplace=True)

for key,value in unit_dict.items():
   nah1_true.unit.replace(key,value,inplace=True)

# d. keep if in var_dict
I = False
for key,value in var_dict.items():
    I = I | (nah1_true.variable == value)
nah1_true = nah1_true[I]
   
# e. convert values to numeric
nah1_true.value = nah1_true.value.astype('float')

# d. summary statistics
nah1_true.groupby(['variable','unit']).describe()

                 value                                                    \
                 count          mean           std        min        25%
variable unit
C        nominal  53.0  7.359192e+05  4.839760e+05    62576.0   293432.0
         real     53.0  1.032705e+06  2.638538e+05   549491.0   846984.0
G        nominal  53.0  2.491618e+05  1.725699e+05    14768.0    92219.0
         real     53.0  3.624659e+05  9.903745e+04   171307.0   300440.0
I        nominal  53.0  2.117046e+05  1.431401e+05    21134.0    77012.0
         real     53.0  2.655367e+05  9.925924e+04   127631.0   182647.0
M        nominal  53.0  4.027814e+05  3.341102e+05    24406.0   117037.0
         real     53.0  4.542078e+05  2.939807e+05   112171.0   211920.0
X        nominal  53.0  4.518299e+05  3.806990e+05    23110.0   108220.0
         real     53.0  5.305470e+05  3.333376e+05   123594.0   232309.0
Y        nominal  53.0  1.692284e+06  1.176483e+06   144582.0   613364.0
         real     53.0  2.256787e+06  7.734025e+05  1089347.0  1594442.0

                                                   year                     \
                        50%        75%        max count    mean        std
variable unit
C        nominal   684449.0  1146493.0  1595950.0  53.0  1992.0  15.443445
         real      981584.0  1283510.0  1482029.0  53.0  1992.0  15.443445
G        nominal   223028.0   388545.0   546484.0  53.0  1992.0  15.443445
         real      334893.0   441847.0   522414.0  53.0  1992.0  15.443445
I        nominal   175220.0   327344.0   503868.0  53.0  1992.0  15.443445
         real      228800.0   345198.0   465874.0  53.0  1992.0  15.443445
M        nominal   277343.0   665283.0  1094407.0  53.0  1992.0  15.443445
         real      325129.0   705349.0  1064511.0  53.0  1992.0  15.443445
X        nominal   339505.0   752583.0  1212911.0  53.0  1992.0  15.443445
         real      433602.0   824193.0  1165491.0  53.0  1992.0  15.443445
Y        nominal  1489571.0  2696588.0  3861691.0  53.0  1992.0  15.443445
         real     2080460.0  3042633.0  3579610.0  53.0  1992.0  15.443445


                     min     25%     50%     75%     max
variable unit
C        nominal  1966.0  1979.0  1992.0  2005.0  2018.0
         real     1966.0  1979.0  1992.0  2005.0  2018.0
G        nominal  1966.0  1979.0  1992.0  2005.0  2018.0
         real     1966.0  1979.0  1992.0  2005.0  2018.0
I        nominal  1966.0  1979.0  1992.0  2005.0  2018.0
         real     1966.0  1979.0  1992.0  2005.0  2018.0
M        nominal  1966.0  1979.0  1992.0  2005.0  2018.0
         real     1966.0  1979.0  1992.0  2005.0  2018.0
X        nominal  1966.0  1979.0  1992.0  2005.0  2018.0
         real     1966.0  1979.0  1992.0  2005.0  2018.0
Y        nominal  1966.0  1979.0  1992.0  2005.0  2018.0
         real     1966.0  1979.0  1992.0  2005.0  2018.0

## Merge with population data from Denmark Statistics

Load population data from Denmark Statistics:

In [8]:
pop = dst.get_data(table_id = 'FT', variables={'HOVEDDELE':['*'], 'TID':['*']})
pop.rename(columns={'TID':'year','INDHOLD':'population'},inplace=True)
I = pop.HOVEDDELE == 'All Denmark'
pop =  pop.loc[I,['year','population']]
pop.head()

    year  population
0   1769      797584
8   1787      841806
16  1801      929001
24  1834     1230964
32  1840     1289075

**Question 1:** Merge the population and the national account data, so there is a new column called `population`. Use the **merge function**.

In [9]:
# hint, merged = pd.merge(?,?,how='?',on=[?])
# merged_true.tail(10)

**Answer:**

In [10]:
merged_true = pd.merge(nah1_true,pop,how='left',on=['year'])
merged_true.tail(10)

    variable     unit  year      value  population
626        C     real  2018  1482029.0   5781190.0
627        C  nominal  2018  1595950.0   5781190.0
628        G     real  2018   522414.0   5781190.0
629        G  nominal  2018   546484.0   5781190.0
630        I     real  2018   465874.0   5781190.0
631        I  nominal  2018   503868.0   5781190.0
632        X     real  2018  1165491.0   5781190.0
633        X  nominal  2018  1212911.0   5781190.0
634        M     real  2018  1064511.0   5781190.0
635        M  nominal  2018  1094407.0   5781190.0

**Question 2:** Merge the population on again, so there is a new column called `population_alt`. Use the **join method**.

In [11]:
# pop_with_index = pop.set_index(?)
# pop_with_index.rename(columns={'population':'population_alt'},inplace=True)
# merged_with_index = merged.set_index(?)
# merged_alt = merged_with_index.join(?)
# merged_alt.tail(10)

**Answer:**

In [12]:
pop_with_index = pop.set_index('year')
pop_with_index.rename(columns={'population':'population_alt'},inplace=True)
merged_true_with_index = merged_true.set_index('year')
merged_true_alt = merged_true_with_index.join(pop_with_index)
merged_true_alt.tail(10)

     variable     unit      value  population  population_alt
year
2018        C     real  1482029.0   5781190.0       5781190.0
2018        C  nominal  1595950.0   5781190.0       5781190.0
2018        G     real   522414.0   5781190.0       5781190.0
2018        G  nominal   546484.0   5781190.0       5781190.0
2018        I     real   465874.0   5781190.0       5781190.0
2018        I  nominal   503868.0   5781190.0       5781190.0
2018        X     real  1165491.0   5781190.0       5781190.0
2018        X  nominal  1212911.0   5781190.0       5781190.0
2018        M     real  1064511.0   5781190.0       5781190.0
2018        M  nominal  1094407.0   5781190.0       5781190.0

## Split-apply-combine-(plot)

Consider the following **split-apply-combine-plot:**

In [13]:
# a. split
nah1_true_grouped = nah1_true.groupby(['variable','unit'])
nah1_true_grouped_first = nah1_true_grouped.value.first()
nah1_true_grouped_first.name = 'first'

# b. apply
nah1_true.set_index(['variable','unit','year'],inplace=True)
nah1_true = nah1_true.join(nah1_true_grouped_first)
nah1_true.reset_index(inplace=True)

# c. combine
nah1_true['indexed'] = nah1_true['value']/nah1_true['first']

# d. plot
def plot(df):
    df_indexed = df.set_index('year')
    I = df_indexed.unit == 'real'
    df_indexed[I].groupby(['variable'])['indexed'].plot(legend=True);
    
plot(nah1_true)

NotImplementedError: merging with more than one level overlap on a multi-index is not implemented

**Question** Implement the same split-apply-combine as above using `transform`.

In [ ]:
def first(x): # select the first element in a series
    return x.iloc[0]

# nah1_alt = nah1_final.copy()
# grouped = nah1_alt.groupby(?)
#nah1_alt[?] = ?.transform(lambda x: ?)
#nah1_alt.head()

**Answer:**

In [ ]:
nah1_true_alt = nah1_true.copy()
grouped = nah1_true_alt.groupby(['variable','unit'])
nah1_true_alt['index_transform'] = grouped['value'].transform(lambda x: x/first(x))
nah1_true_alt.head()

# Problem: The Housing market

## Housing data

**Note:** The file `data/bm010_parcel.xlsx` has been downloaded from http://rkr.statistikbank.dk/201.

**Question:** Go through the cell below and ensure you understand ALL commands.

In [ ]:
# a. load data
prices = pd.read_excel('data/bm010_parcel.xlsx', skiprows=2)
prices.rename(columns={'Unnamed: 2': 'municipality'}, inplace=True)

# b. delete columns
del prices['Unnamed: 0']
del prices['Unnamed: 1']

# c. rename time columns: 1992K1 -> price19921
time_dict = {} 
for y in range(1992,2018+1): 
    for k in range(1,4+1): 
        str_from = f'{y}K{k}'
        str_to   = f'price{y}{k}'
        time_dict[str_from] = str_to
prices = prices.rename(columns = time_dict)        

# d. drop missing
prices = prices.dropna()

# e. convert to long
prices_long = pd.wide_to_long(prices, stubnames='price', i='municipality', j='year_quarter').
prices_long.reset_index(inplace=True)

# f. drop missing and convert to float
I = prices_long.loc[prices_long.price == '..']
prices_long.drop(I.index, inplace=True)
prices_long.price = prices_long.price.astype('float')

# g. create date variable
prices_long['d'] = (prices_long.year_quarter.astype(str).str[:4] # grab the year, first four digits
          + 'Q' # add the letter Q 
          + prices_long.year_quarter.astype(str).str[4]) # the quarter (fifth digit)
prices_long['date'] = pd.to_datetime(prices_long.d)

# h. cleanup 
del prices_long['year_quarter']
del prices_long['d']

prices_long.head()

## Population data

**Question:** Go through the cell below and ensure you understand ALL commands.

In [ ]:
# a. load data
pop = dst.get_data(table_id='FOLK1A', variables={'Alder':['IALT'], 'CIVILSTAND':['TOT'], 'Køn':['TOT'], 'Tid':['*'], 'OMRÅDE':['*']})

# b. drop and rename columns
for v in ['ALDER', 'CIVILSTAND', 'KØN']: 
    del pop[v]
pop = pop.rename(columns = {'INDHOLD':'population', 'OMRÅDE': 'municipality'})

# c. drop non-municipalities
for val in ['Region', 'All']: 
    I = pop['municipality'].str.contains(val)
    pop.drop(pop[I].index, inplace=True)

# d. convert to date
pop['date'] = pd.to_datetime(pop.TID)
del pop['TID']

pop.head()

## Analysis

**Problem:** Analyze the co-variation betwen population growth and house price growth. Reproduce the graphs below. 

**Hint:** For the second one consider the `agg` method (similar to but different from `transform`, Google it).

In [ ]:
# write your code here

**Answer:**

In [ ]:
# a. merge
full = pd.merge(pop, prices_long, on=['date','municipality'], how='left')
full.sort_values(['municipality','date'], inplace=True)

# b. take logs
full['log_population'] =  np.log(full['population'])
full['log_price'] =  np.log(full['price'])

# c. figur 1: log differences
ax = full.groupby('municipality').diff(1).plot(x = 'log_population', y = 'log_price', kind = 'scatter'); 
ax.set_xlabel('log difference in population') 
ax.set_ylabel('log difference in price')

# c. figur 2: mean log differences
ax = full.groupby('municipality').agg(lambda x: np.mean(x.diff())).plot(x = 'log_population', y = 'log_price', kind = 'scatter'); 
ax.set_xlabel('within-municipality mean log difference in population')
ax.set_ylabel('within-municipality mean log difference in price');